@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,400&display=swap');
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
box-sizing: inherit;
}
$fuentePrincipal: 'Nunito', sans-serif;
$colorPrincipal: #E33C3C;
* {
    font-family: $fuentePrincipal;
}
h1,h2,h3,h4,p {
    margin: 0;
}
body {
    position: relative;
}
// Header
.header {
    width: 100%;
    background-color: $colorPrincipal;
    h1 {
        font-size: 4rem;
        text-align: center;
    }
    padding: 1rem;
}
.barraBusqueda {
    display: flex;
    flex-direction: column;
    width: 95%;
}
.buscador {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin: 2.5rem 2rem 0;
    font-size: 2rem;

    .input {
        border: 1px solid #000 ;
        border-radius: 2px;
        width: 80%;
        outline: none;
        padding: 0.8rem;
        &:focus {
            border: 2px solid #000;
        }
        
    }
    .boton {
        background-color: #5C9EAD;
        border: none;
        border-radius: 2px;
        padding: 1.5rem;
        color: #FFF;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: darken($color: #5C9EAD, $amount: 10);
        }
    }
}
.pokemones_estatico,.pokemones_buscar {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    .pokemones_pokemon {
        min-height: 16.5rem;
        min-width: 80%;
        background-color: #9EE493;
        text-align: center;
        padding: 1rem;
        margin: 1.5rem auto;
        border: 3px solid #002;
        border-radius: 5px;
        word-wrap: normal;
        cursor: pointer;
        &:hover {
            background-color: darken($color: #9EE493, $amount: 10);
        }
        .pokemon_caracteristicas {
            // text-align: left;
            margin: 0 auto;
        }
        p,h2 {
            font-size: 1.2rem;
            font-weight: bold;
        }
        img {
            width: 75%;
            height: 20%;
        }
    }
    h3 {
        // margin-top: 1rem;
        color: #E50606;
        align-self: center;
        font-size: 2rem;
        margin: 1rem auto 0;
        position: absolute;
    }
}
@media (min-width: 560px ) {
    .pokemones_estatico,.pokemones_buscar {
        grid-template-columns: repeat(3,1fr);
  
    }
}
@media (max-width:370px) {
    .pokemones_estatico,.pokemones_buscar {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .pokemones_pokemon {
        width: 20%;
        max-height: 15rem !important;
        img {
            text-align: center;
            width: 10rem;
            height: 10rem;
        }
    }
    .buscador {
        width: 95%;
        margin: 4rem auto 0;
        .input {
            width: 100%;
        }
        .boton {
            margin: 0;
        }
    }
}
@media (min-width:760px) {
    .pokemones_estatico,.pokemones_buscar {
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width:940px) {
    .pokemones_estatico,.pokemones_buscar {
        grid-template-columns: repeat(5,1fr);
    }
}
@media (min-width:380px) {
    .pokemones_estatico,.pokemones_buscar {
        .pokemones_pokemon {
            margin: 1.5rem;
            min-height: 25rem;
            min-width: 15.7rem;
            p,h2 {
                font-size: 1.5rem;
                font-weight: bold;
            }
            img {
                width: 15rem;
                height: 15rem;
            }
        }
    }
}

