@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,400&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.header {
  width: 100%;
  background-color: #E33C3C;
  padding: 1rem;
}

.header h1 {
  font-size: 4rem;
  text-align: center;
}

.barraBusqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

.barraBusqueda h2 {
  margin-top: 1rem;
  color: #E50606;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: 2.5rem 2rem 0;
  font-size: 2rem;
}

.buscador .input {
  border: 1px solid #000;
  border-radius: 2px;
  width: 40rem;
  outline: none;
}

.buscador .input:focus {
  border: 2px solid #000;
}

.buscador .boton {
  background-color: #5C9EAD;
  border: none;
  border-radius: 2px;
  padding: 1.5rem;
  color: #FFF;
  cursor: pointer;
}

.buscador .boton:hover {
  background-color: #48818e;
}

.pokemones_estatico, .pokemones_buscar {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemones_estatico .pokemones_pokemon, .pokemones_buscar .pokemones_pokemon {
  min-height: 25rem;
  min-width: 15.7rem;
  background-color: #9EE493;
  text-align: center;
  padding: 1rem;
  margin: 1.5rem;
  border: 3px solid #002;
  border-radius: 5px;
}

.pokemones_estatico .pokemones_pokemon p, .pokemones_estatico .pokemones_pokemon h2, .pokemones_buscar .pokemones_pokemon p, .pokemones_buscar .pokemones_pokemon h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.pokemones_estatico .pokemones_pokemon img, .pokemones_buscar .pokemones_pokemon img {
  width: 15rem;
}

@media (min-width: 560px) {
  .pokemones_estatico, .pokemones_buscar {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 370px) {
  .pokemones_estatico, .pokemones_buscar {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .pokemones_pokemon img {
    width: 20rem;
  }
  .buscador {
    width: 95%;
    margin: 4rem auto 0;
  }
  .buscador .input {
    width: 100%;
  }
  .buscador .boton {
    margin: 0;
  }
}

@media (min-width: 760px) {
  .pokemones_estatico, .pokemones_buscar {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 940px) {
  .pokemones_estatico, .pokemones_buscar {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}
/*# sourceMappingURL=app.css.map */